header{
    display: flex
}
#header-name{
    color: darkslategrey;
    font-weight: 900;
    font-size: 32pt;
    text-shadow: 10px 20px 25px darkseagreen;
    padding-left: 20px;
    flex-grow: 1;

}
#dot{
    color: burlywood;
    font-size: 25px;
}
#js{
    color: darkseagreen;
    font-style: italic;
}
#theme{
    color: burlywood;
    font-size: 20pt;
    padding-left: 20px;
    font-weight: bold;
    text-align: center;
}
footer{
    text-align:center
}
body{
    height: 100vh;
    display:flex;
    flex-direction: column;
}
article{
    flex-grow :1;
}
#editor{
    display: flex; 
}
#editor-viewer{
    flex-grow: 1;
}
#editor-viewer>*{
    height: 100%;
    width: 100%;
}
#editor-form{
    text-align: center;
}
.flex-col{
    display:flex;
    align-content: center;
}
.flex-col>*{
    text-align: center;
    padding:5px;
}
input[type="number"]{
    width: 100px;
}
.center{
    text-align: center;
}
#Deco{
    text-align: center;
}
#mimile{
    fill: rgb(129, 250, 179);
    font-size: 30px;
    font-weight: bold;
}

body.dark{
    background-color: rgb(39, 34, 34);
    color: white !important;
}
