<style>
  #thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: normal;
    align-content: normal;
    overflow-y: scroll;
  }
  /* .thumbnail-meme-viewer svg{
  } */
  .thumbnail-meme-viewer {
    height: 32vh;
    width: 33vw;
    min-height: 300px;
    min-width: 400px;
    margin-top: 20vh;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
  }
  .thumbnail-meme-title{
    text-align: center;
  }
</style>
<div id="thumbnail">
  <h2>preview des Memes enregistrés</h2>
  <hr />
  <div id="thumbnail-container">
    <div id="thumbnail-meme-" class="thumbnail-meme-viewer">
      <a href="/editor/">
        <div class="thumbnail-meme-title">cliquez ici ....</div>
        <svg
         height="100%"
         width="100%"
          viewBox="0 0 500 500"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
     
        >
          <image xlink:href="" x="0" y="0" />
          <text
            x="20"
            y="250"
            style="
              text-decoration: none;
              font-style: normal;
              font-weight: 500;
              font-size: 40px;
              fill: black;
            "
          >
            Nouveau meme ...
          </text>
        </svg>
      </a>
    </div>
  </div>
</div>
